<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- /blog y sub-rutas siempre van a PHP (ignora el directorio físico blog/) -->
                <rule name="Route blog to PHP" stopProcessing="true">
                    <match url="^blog(/.*)?$" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <!-- Todas las rutas que no sean archivos/directorios físicos van a index.php -->
                <!-- Esto incluye /build/... (que no existe como archivo físico) -->
                <rule name="Rewrite to index.php" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>