@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
html.i18n-pending body {
    visibility: hidden;
}
html.i18n-pending.i18n-fallback body {
    visibility: visible;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}